NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-DCELXJWQ1Q
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_META_DOMAIN_VERIFY=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_APP_STORE_URL=
NEXT_PUBLIC_PLAY_STORE_URL=
NEXT_PUBLIC_APP_STORE_ID=
POSTMARK_SERVER_TOKEN=95c9f8f0-d548-45cd-879a-06ab737eca32
POSTMARK_FROM_EMAIL=noreply@inteckltd.co.uk
CONTACT_TO_EMAIL=info@inteckltd.co.uk
